<section class="knowledge-questions">
    <h1>Knowledge Questions</h1>
    <!-- <form action="" class="quiz-select-form">
        <div class="form-item">
            <label for="topic">Quiz Topic:</label>
            <select id="topic" name="topic" class="form-control" ngModel>
                <option *ngFor="let topic of quizTopics" [value]="topic">{{ topic }}</option>
            </select>
        </div>
        <button class="select-quiz button primary" type="submit">Create Quiz</button>
    </form> -->
    <app-knowledge-questions-list [questions]="questions"></app-knowledge-questions-list>
</section>