<section class="knowledge-questions">
    <h1>Knowledge Questions Quiz Generator</h1>
    <form (ngSubmit)="onGenerateQuiz(generateQuizForm)" class="generate-quiz-form" #generateQuizForm="ngForm">
        <div class="form-item">
            <label for="subject">Quiz Subject:</label>
            <select id="subject" name="subject" class="form-control" [(ngModel)]="quizSubject" required>
                <option *ngFor="let subject of quizSubjects" [value]="subject">{{ subject }}</option>
            </select>
        </div>
        <div *ngIf="quizSubject" class="form-item">
            <label for="length">Quiz Length</label>
            <input type="number" min="1" name="length" ngModel required>
        </div>
        <button class="generate-quiz-btn button primary" type="submit" [disabled]="!generateQuizForm.valid" [ngClass]="{'disabled': !generateQuizForm.valid}">Create Quiz</button>
    </form>
    <app-knowledge-questions-list [questions]="questions"></app-knowledge-questions-list>
</section>