@import "../../../styles.scss";

.knowledge-questions {
    padding: $inline-p-l;
    h1 {
        text-align: center;
        font-size: rem(24px);
        font-family: cursive;
        margin-block-end: 20px;
    }
    .generate-quiz-form {
        .form-item {
            @include flex-vertically-center;
            gap: 40px;
            font-size: rem(22px);
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            input,
            select {
                font-size: rem(22px);
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            }
        }
        .generate-quiz-btn {
            margin-block: rem(20px);
            &.disabled {
            }
        }
    }
}
