@import "../../../styles.scss";

.knowledge-questions-list {
    .quiz-header {
        text-align: center;
        h1 {
            font-size: 28px;
        }
        h3 {
            font-size: 22px;
        }
        background-color: antiquewhite;
    }
}
