@import '../../../styles.scss';

.home {
    padding: $inline-p-l;

    .sections {
        @include flex-vertically-center;
        .section-item {
            @include flex-column;
            gap: 12px;
            justify-content: space-between;
            padding: $card-p-l;
            border-radius: $border-r-l;
            cursor: pointer;
            background-color: $secondary-button;
            height: 160px;


        }
    }
}