@import "../../../styles.scss";

.home {
    padding: $inline-p-l;

    .sections {
        @include flex-vertically-center;
        justify-content: space-between;
        .section-item {
            // height: 160px;
            h2 {
                opacity: 1;
                color: #000;
            }

            .section-icon {
                margin-block-start: 20px;
                margin-inline: auto;
                height: max-content;

            }
        }
    }
}
