$text: #090c1a;
$background: #ffffff;
$primary-button: #324a53;
$secondary-button: #d9dce8;
$accent: #d8e24b;

// paddings
$inline-p-l: 16px;
$inline-p-m: 12px;
$inline-p-s: 10px;
$card-p-l: 12px;
$card-p-m: 10px;
$card-p-s: 8px;

// borders
$border-r-l: 12px;