// https://realtimecolors.com/?colors=020005-ffffff-2fbdd0-fafbee-d02fbd
$text: #020005;
$background: #ffffff;
$primary-button: #2fbdd0;
$secondary-button: #fafbee;
$accent: #d02fbd;

// paddings
$inline-p-l: 16px;
$inline-p-m: 12px;
$inline-p-s: 10px;
$card-p-l: 12px;
$card-p-m: 10px;
$card-p-s: 8px;

// borders
$border-r-l: 12px;
$border-r-m: 10px;
$border-r-s: 8px;