<article class="knowledge-question">
    <h3 class="text">
        {{question.text}}
    </h3>

    <div *ngIf="question.code.content.length" class="code">
        <pre><code class="hljs" [innerHTML]="highlightedCode"></code></pre>

    </div>

    <label class="option"
        *ngFor="let option of question.options; let optionNumber = index">
        <input type="radio" name="question{{ questionNumber }}" [value]="optionNumber"
            (change)="updateSelectedAnswer(optionNumber)" [checked]="selectedAnswer === optionNumber">
        {{ option }}
    </label>

</article>