<article class="knowledge-question">
    <h3 class="text">
        {{question.text}}
    </h3>
    <div *ngIf="question.code.content.length" class="code">
        <!-- <span class="language">{{question.code.language}}</span> -->
        <pre><code class="hljs" [innerHTML]="highlightedCode"></code></pre>

    </div>
    <div class="option" *ngFor="let option of question.options">
        <span class="question-option-decor">[ - ]</span>
        <div class="question-option-content">{{option}}</div>
    </div>
</article>