@import '../../../styles.scss';

.knowledge-question {
    margin-block-end: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: $border-r-m;
    padding: $card-p-s;
    .text {
        color: darkcyan;
        font-size: rem(20px);
        
    }
    .code {
        .language {
            font-size: rem(18px);
            text-decoration: underline 1px solid $accent;
            text-transform: capitalize;

        }
    }
    .option {
        @include flex-vertically-center;
        gap: 10px;
        padding-inline: $inline-p-m;
        cursor: pointer;
        .question-option-content {
            
        }
        &.ans {
            background-color: green;
        }

        &:hover {
            background-color: darken($background, 6%);
            
        }
    }
}